<!--<header>-->
<!--  <div class="header-logo">-->
<!--    <a href="/">TweetApp</a>-->
<!--  </div>-->
<!--  <ul class="header-menus">-->
<!--    <li><a href="/about">TweetAppとは</a></li>-->
<!--  </ul>-->
<!--</header>-->

<div class="about-main">
  <h2>BandAppとは</h2>
  <p>
   ライブへのバンドを組むための募集板です。誰が何をしたいのかが分かるので気軽に参加してみよう！
  </p>
  <!--<img class="about-img" src="画像">-->
</div>