<!--<header>-->
<!--  <div class="header-logo">-->
<!--    <li><a href="/">TweetApp</a></li>-->
<!--  </div>-->
<!--  <ul class="header-menus">-->
<!--    <li><a href="/about">TweetAppとは</a></li>-->
<!--  </ul>-->
<!--</header>-->

<div class="main top-main">
  <div class="top-message">
    <h2>バンドを組もう</h2>
    <p>ライブまでをスムーズに</p>
  </div>
</div>